/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 30px;
  padding: 20px;
  font-weight: lighter;
  list-style: none;
  counter-reset: counter;
}

/*  Set the font */
body {
  font-family: 'Raleway', sans-serif;
}

/* STYLES */
/* Write your CSS below */

.sectionImage{
  background-image:url(apple-pie.jpg);
  background-size: cover; 
}

ul li::before{
  content:"-";
}

ol li{
  counter-increment: counter;
}

ol li::before{
  content:counter(counter)")"
}

hr{
  width: 80%;
}